/* --------------------- */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*='container'] {
  max-width: 970px;
  margin: 0 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

html,
body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* ---------------------- */

.nav-list {
  display: flex;
}

.nav-list li {
  margin: 0 0 0 40px;
}

.nav-list li:first-child {
  margin: 0;
}

.header {
  margin: 27.5px auto;
}

.nav-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #070707;
}

.nav-link:visited {
  color: #828282;
}

/* ------------------------- */

.hero {
  flex-direction: column;
  margin-top: 12px;
}
.hero-title {
  margin-bottom: 50px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #070707;
}

/* ------------------------ */

#about {
  background: #f6f6f6;
  text-align: center;
}
#about a {
  border-style: none;
}

.title {
  margin: 100px 385px 50px 385px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #070707;
}

.text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}

.about-text {
  margin-bottom: 30px;
}

.bottom {
  margin-bottom: 100px;
}

/* ---------------------- */
